/* Cercle de zoom pour la myopie */
#cursor {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid red;
    background-color: rgba(255, 255, 255, 0.6);
    pointer-events: none;
    display: none;
    transform: translate(-50%, -50%);
}

/* Mode daltonien */
.daltonien {
    background-color: white !important;
    color: black !important;
    font-weight: bold;
}

/* Mode contraste */
.contraste {
    filter: invert(75%);
}

/* Mode dyslexie */
@import url('https://fonts.googleapis.com/css2?family=OpenDyslexic&display=swap');

.dyslexie {
    font-family: 'OpenDyslexic', Arial, sans-serif !important;
}
